<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if title%}
    <title>{{title}} Management System</title>
    {%else%}
    <title>User Management System</title>
    {%endif%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head>
<body>
    {%block content%} {%endblock content%}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<!-- <script>
    $(document).ready(function () {
        $('.approve-btn').on('click', function () {
            var userId = $(this).data('user-id');
            var url = '/admin/approve-user/' + userId;
            // var targetDiv = $('.user-container'); 
            // var targetDiv = $('.approve-btn'); 
            var targetDiv = $('#'+userId); 

            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // Handle success response
                    targetDiv.html("Approved");
                    targetDiv.removeClass("btn-warning")
                    targetDiv.removeClass("approve-btn")
                    targetDiv.addClass("btn-success")
                    targetDiv.addClass("disapprove-btn")
                    // console.log('User approved successfully');
                },
                error: function (error) {
                    // Handle error response
                    console.error('Error approving user', error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('.disapprove-btn').on('click', function () {
            var userId = $(this).data('user-id');
            var url = '/admin/disapprove-user/' + userId;
            // var targetDiv = $('.user-container'); 
            // var targetDiv = $('.disapprove-btn'); 
            var targetDiv = $('#'+userId); 
            // var link = 

            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // Handle success response
                    targetDiv.html("Approve");
                    // targetDiv.replaceWith()
                    targetDiv.addClass("btn-warning")
                    targetDiv.addClass("approve-btn")
                    targetDiv.removeClass("btn-success")
                    targetDiv.removeClass("disapprove-btn")
                    
                    // console.log('User approved successfully');
                },
                error: function (error) {
                    // Handle error response
                    console.error('Error disapproving user', error);
                }
            });
        });
    });
</script> -->
</html>