<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Cart</title>
</head>
<body>
    <div>
    {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
    </div>

    {% if data %}
    
    <div class="my-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <!-- <th>Id</th> -->
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for cart,product in data %}
                    <tr>
                        <td>{{product.pname}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <form action="/IncrCart/{{product.id}}" method="post" style="display: inline-block;">
                                <button name="addQuantity" value="add">+</button>
                            </form>
                            <strong style="display: inline-block;">count: {{cart.quantity}}</strong>
                            <form action="/DecrCart/{{product.id}}" method="post" style="display: inline-block;">
                                <button name="subtractQuantity" value="sub">-</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            
        </div>
    </div>
    {% else %}
    <div>
        <strong>Nothing in the cart </strong>
    </div>
    {% endif %}  

    <a href="/user">Dashboard</a>
    
</body>
</html>