{% extends "user/layout.html"%}

{% block content %}
{% include 'user/navbar.html' %}
<!-- <div class="container"> -->
    <!-- {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}}">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %} -->
    
    <!-- Show products -->

    <div class="flex">
        {% include 'user/sideBar.html' %}
        {% include 'user/productsView.html' %}
    
<!-- </div> -->
<script>
    var dashboard = document.getElementById("dashboard");
    // dashboard.classList.remove('text-gray-700')
    dashboard.classList.add('text-blue-700');
  </script>
{% endblock content %}