<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product: {{product.id}}</title>
</head>
<body>
    <h1>ID: {{product.id}}</h1>
    <h1>Product name: {{product.pname}}</h1>
    <h1>Price: {{product.price}}</h1>
    <h1>Img: {{product.img}}</h1>
    <form action="" method="post">
        <button name="addToCart" value="value">Add to cart</button>
    </form>
    <a href="/user">Go back</a>
</body>
</html>