{% extends "user/layout.html"%}

{% block content %}
{% include 'user/navbar.html' %}
<div class="text-center">
    <div>
        <h1>ID: {{product.id}}</h1>
        <img src="{{ url_for('static', filename='images/' + product.pname +'.png') }}" class="w-60 h-60 bg-slate-500 border-slate-500 border-2 block m-auto" alt="">
        <h1>Product name: {{product.pname}}</h1>
        <h1>Price: {{product.price}}</h1>
        <form action="" method="post">
            <button name="addToCart" value="value">Add to cart</button>
        </form>
        <a class="" href="/user/dashboard">Go back</a>
    </div>
</div>
{% endblock content %}