

<div style="font-family: 'Poppins';" class="flex-auto shadow w-3/4 bg-gradient-to-t from-blue-100 to-white">
    <div class="flex flex-row bg-gray-200">
        <a href="#" class="block w-1/3 p-6 bg-white border border-gray-200 rounded shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">Contribution</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">$560</p>
        </a>
         <a href="#" class="block w-1/3 p-6 bg-white border border-gray-200 rounded shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">Carbon Offset Achieved</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">24 CO2 Tonnes</p>
        </a>
        <a href="#" class="block w-1/3 p-6 bg-white border border-gray-200 rounded shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">Offset to Neutral</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">8 CO2 Tonnes</p>
        </a>
    </div>
    

    <div class="rounded flex  ">
    
    <div class="w-full p-4 ">
        <!-- <h2 class="text-lg font-semibold mb-4">Product Grid</h2> -->
        
        <div class="w-1/4 p-4 flex">
            <!-- <h2 class="text-lg font-semibold mb-4 justify-end">Filters</h2> -->
            <div class="mb-2">
                <select onchange="window.location.href=this.value" id="countries" class="font-semibold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option class="font-semibold" value="" selected disabled>Sort By Price</option>
                    <option class="font-semibold" value="{{ url_for('userDashboard', page=1, sortBy='asc') }}">Sort Ascending</option>
                    <option class="font-semibold" value="{{ url_for('userDashboard', page=1, sortBy='desc') }}">Sort Descending</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4">
            
        <div class="bg-white rounded-sm p-4">
            <a href="">
                <h1 class="text-3xl mb-2">Spain</h1>
                <h4 class="text-sm mb-2">Solar Panel</h4>
                <h4 class="text-sm mb-2">$56 / panel</h4>
                <h4 class="text-sm mb-2">Population: 47.2 M</h4>
                <h4 class="text-sm mb-2">Network: 20,000 KM</h4>
                <h4 class="text-sm mb-2">Impact: <span class="text-green-500">High</span></h4>
            </a>
        </div>
        <div class="bg-white rounded-sm p-4">
            <a href="">
                <h1 class="text-3xl mb-2">USA</h1>
                <h4 class="text-sm mb-2">Solar Roof</h4>
                <h4 class="text-sm mb-2">$150 / Roof</h4>
                <h4 class="text-sm mb-2">Population: 47.2 M</h4>
                <h4 class="text-sm mb-2">Network: 520,000 KM</h4>
                <h4 class="text-sm mb-2">Impact: <span class="text-green-500">High</span></h4>
            </a>
        </div>
        
    </div>
    <div class="flex mt-10 font-semibold items-center justify-center ">
        <ul class="flex space-x-4">
        {% if productsList.has_prev %}
        <li>
            <a href="{{ url_for('userDashboard', page=productsList.prev_num) }}">Previous</a>
        </li>
        {% endif %}
        {% for page_num in productsList.iter_pages() %}
        {% if page_num %}
        {% if page_num != productsList.page %}
        <li>
            <a href="{{ url_for('userDashboard', page=page_num) }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="active">
            <a href="#" class="underline">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li>
            <span class="ellipsis">…</span>
        </li>
        {% endif %}
        {% endfor %}
        {% if productsList.has_next %}
        <li>
            <a href="{{ url_for('userDashboard', page=productsList.next_num) }}">Next</a>
        </li>
        {% endif %}
    </ul>
    </div>
</div>
</div>




    
